<div *ngIf="!editMode" class="page">

  <header>
    <table>
      <tbody>
        <tr>
          <td style="width:100%;"><h1 [innerHTML]="page.pageHeader.pageName"></h1></td>
          <td><button style="width:80px;height:40px;" (click)="Edit()">Edit Page</button></td>
        </tr>
      </tbody>
    </table>
  </header>

  <section id="contents">
    <table>
      <thead>
        <h3>Contents</h3>
      </thead>
      <tbody>
        <tr *ngFor="let contentEl of page.contents">
          <td><a href="#{{contentEl.id}}" (click)="scrollToElement(contentEl.id)" [innerHTML]="contentEl.content"></a></td>
        </tr>
      </tbody>
    </table>
  </section>

  <div id="pageContent"></div>

  <section id="details">
    <table>
      <thead>
        <h3>Details</h3>
      </thead>
      <tbody>
        <tr *ngFor="let detail of page.details">
          <td><strong>{{detail.DetKey}}:</strong> {{detail.DetVal}}</td>
        </tr>
      </tbody>
    </table>
  </section>
</div>

<div *ngIf="editMode">
  <input type="text" title="Edit the page name" [(ngModel)]="page.pageHeader.pageName" placeholder="Page title" />
  <hr/>
  <textarea id="mainInput" title="Edit the page content" rows="50" cols="100" [(ngModel)]="page.content" placeholder="Page Markdown"></textarea>
  <br/>
  <div *ngFor="let detail of page.details">
    <input type="text" [(ngModel)]="detail.detKey" placeholder="Detail Key" />
    <input type="text" [(ngModel)]="detail.detValue" placeholder="Detail Value" />
    <button (click)="RemoveDetail(detail)">X</button>
  </div>
  <br/>
  <button (click)="AddDetail()">Add Detail</button>
  <br/><br/>
  <button (click)="Save()">Save</button>
  <button (click)="Cancel()">Cancel</button>
</div>