html 
{
  scroll-behavior: smooth;
}

#page-list-left-side{
  position: relative;
  float: left;
  left: 0px;
  padding:10px;
  max-width:20%;
  margin-left:1.25%;
  background-color:white;
  margin-right: 1.25%;
}

#router-outlet-right-side{
  position:relative;
  float: left;
  margin-left: 1.25%;
  margin-right: 1.25%;
  min-width: 75%;
  max-width: 100%;
  padding:10px;
  border:2px;
  border-style:solid;
  border-color:lavender;
  border-radius:2px;
  background-color:white;
}