<div class="container">
<div class="side" id="favorite">
    <h3>Favorite Pages</h3>
    <table>
        <tbody class="list">
            <tr *ngFor="let page of history.favoritePages">
                <td><a routerLink="{{page.page.pageUrl}}">{{page.page.pageName}}</a></td>
                <td><input (change)="UpdateFavorite(page)" class="star" type="checkbox" [(ngModel)]="page.favorite"></td>
            </tr>
        </tbody>
    </table>
</div>
<hr>
<div class="side" id="history">
    <h3>History</h3>
    <table>
        <tbody class="list">
            <tr *ngFor="let page of history.historyPages">
                <td><a routerLink="{{page.page.pageUrl}}">{{page.page.pageName}}</a></td>
                <td><input type="checkbox" (change)="UpdateFavorite(page)" class="star" [(ngModel)]="page.favorite"/></td>
            </tr>
        </tbody>
    </table>
</div>
</div>