
<div class="side" *ngIf="history.favoritePages.length" id="favoritePages">
    <h3>Favorite Pages</h3>
    <ul class="list">
        <li *ngFor="let page of history.favoritePages"><a routerLink="{{page.page.pageUrl}}">{{page.page.pageName}}</a><input type="checkbox" [(ngModel)]="page.favorite"></li>
    </ul>
</div>
<div class="side" style="background-color:rgb(235, 235, 235);">
    <h3>History</h3>
    <ul class="list">
        <li *ngFor="let page of history.historyPages">
            <a routerLink="{{page.page.pageUrl}}">{{page.page.pageName}}</a>
            <input type="checkbox" class="star" [(ngModel)]="page.favorite"/>
        </li>
    </ul>
</div>