<div class="side" id="favorite">
    <h3>Favorite Pages</h3>
    <ul class="list">
        <li *ngFor="let page of history.favoritePages">
          <a routerLink="{{page.page.pageUrl}}">{{page.page.pageName}}</a>
          <input (change)="UpdateFavorite(page)" class="star" type="checkbox" [(ngModel)]="page.favorite">
      </li>
    </ul>
</div>
<div class="side" id="history">
    <h3>History</h3>
    <ul class="list">
        <li *ngFor="let page of history.historyPages">
            <a routerLink="{{page.page.pageUrl}}">{{page.page.pageName}}</a>
            <input type="checkbox" (change)="UpdateFavorite(page)" class="star" [(ngModel)]="page.favorite"/>
        </li>
    </ul>
</div>