@model IEnumerable<WikiHeaderVM>

@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-5" title="Popular Public Wikis">Popular Wikis</h1>
    <table>
        <tbody>
            @{
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a href="@item.URL">@item.Name</a>
                            @*<a asp-controller="Wiki" asp-action="#" asp-route-id="">@item.Name</a>*@
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
